.article_title {
  min-height: 1em;
	height: auto;
	border: 0px; 
  padding: 0px;
  margin: 0px;
  text-align: center;  	
  font-size: 140%;
  color: black;
}
.article_description { 
    min-height: 100px;
    padding: 2px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
    overflow: auto;
}

body {
  background-color: antiquewhite;
}


#categoria {
}

#queryInput {
	width: 70%;
	align-self: center;
	padding-top: 4px;
	padding-bottom: 4px;
}


#mainDiv {
}

#btn_see_more {
	
	margin-top: 8px;
	margin-bottom: 12px;
}	

.btn-mybtn {
	color: #007bff;
	background-color: transparent;
	border-color: #007bff;
	
		
}
.selecionado{
		background-color: #007bff;
		color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article_link {
  text-decoration: none;
}

.article {
  background-color: rgba(230, 230, 230, 1);
  width: 50%;
  padding: 15px;
  margin: 2px;
  border: 1px solid white;
}
.article:hover {
  background-color: rgba(230, 230, 230, 0.7)
}
.button {
    background-color: rgb(48, 158, 201); /* Green */
    margin: 4px;
    border: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  }
  
.jumbotron {
	background-color: antiquewhite;
	height: 100px;
	padding-top: 10px;
	text-align: center;
}
  
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
	
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}


/* responsividade */
 
 /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .article {
    width: 20%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .article {
      width: 33%;
    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .article {
      width: 80%;
    }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .article {
      width: 40%;
    }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .article {
      width: 80%;
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .article {
      width: 80%;
    }
  
}
  